/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2015, 9:26:35 AM
    Author     : Administrator
*/

.error { 
	color: red; font-weight: bold; 
}
.menu {
    display: inline;
}

.menu li{
    float: left;
    list-style-type: none;
    margin: 10px;
}

.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #015965;
  font-weight: bold;
}


.slide {
background: rgba(255, 255, 255, 0.4);
width: 900px;
/*background-image: url('..resources/images/catalogeBanner.PNG');*/
margin-top: 20px;
padding-left: 15px;
}
.slide > li > a {
text-decoration: none;
padding-top: 50px;
padding-left: 20px;
padding-right: 20px;
font-size: 15px;
color: #fff;
text-transform: uppercase;
}
/*fds*/

*{
	margin:0px;
	padding:0px;
}
aside
{
	float:left;
	width:280px;
	background: #efefef;
	padding:10px;
}
.khung{
	width:1000px;
	height:700px;
	margin:0px auto;
        background-color:#83defe;
         font-family:  Arial, Helvetica, sans-serif;
    background-attachment:fixed;
}

body {
    background-color:#83defe;
}
.banner{
background-color:blue;
width:1000px;
height:150px;
margin-top:-7px;
padding:0px;

}
.banner_1{
background-color:#83defe;
width:200px;
height:150px
}
.banner_2{
background-color:aqua;
width:800px;
height:150px;
margin-top: -150px;
margin-left: 200px;
}
.menu{
background-color:yellow;
width:1000px;
height:40px;
margin-top:0px;
padding:0px;

}
.mom {
   background-color:#83defe;
}
.body{
background-color:#35C0CD; /* lightgoldenrodyellow */
width:1000px;
height:500px;
margin-top:0px;
padding:0px;

}
.body_1{
  background-color:#83defe;
  width: 1000px;
  height: 38px;
  margin-top: 300px;
  padding: 0px;
  text-decoration: none
}

.body_0{
  background-color: #01939A; /*006064*/
  width: 999px;
  height: 50px;
  padding: 0px;
  margin-left: 0px;
  margin-top: -295px;
  border-radius: 15px;
  font-color: white;
}

.footer{
background-color:gray;
width:1000px;
height:60px;
margin-bottom:0px;
padding:0px;

}






/*media*/

@media screen and (max-width: 768px) 
{
	header
	{
		background: #efefef;
		padding: 0;
	}
	#container
	{
		width:100%;
		margin:0px;
		background-color:#FFF;
		
	}
	footer
	{
		clear:both;
		width:100%;
	}
	nav
	{
		width:100%;
		color: #fff; 
		background: #969696;
	}
	section
	{
		float:left;
		width:60%;
		margin:0px;
		padding:0px;
	}
	section article
	{
		float:left;
		width:100%;
		margin:0px;
		padding:0px;
	}
	aside
	{
		float:left;
		width:40%;
		margin:0px;
		padding:0px;
	}
}
@media screen and (max-width: 360px) 
{
	header
	{
	}
	nav
	{}
	section
	{
		width:100%;
		
	}
	aside{
		width:100%;
	}
}


/*fd*/



.align-center {
	margin: 0 auto
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

* html .clearfix {
	zoom: 1
}

*:first-child+html .clearfix {
	zoom: 1
}

.products {
	overflow: hidden;
	float: left;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	list-style: none;
	margin: 0;
	min-width: 1084px;
}

.products li {
	float: left;
	position: relative;
	width: 215px;
	height: 215px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	overflow: hidden;
	margin: 0
}

.products.homepage {
	min-width: 600px
}

.products.homepage li {
	width: 199px
}

.products li h1,.products li h2,.products li h3,.products li h4,.products li h5,.products li h6
	{
	margin: 0
}

.products li a {
	display: table-cell;
	width: 205px;
	height: 205px;
	padding: 5px;
	overflow: hidden;
	vertical-align: bottom
}

.products li a h3 {
	font-size: 14px;
	font-weight: normal;
	color: #1D7373 ;
	line-height: 14px;
	-webkit-transition: all 300ms ease 100ms;
	-moz-transition: all 300ms ease 100ms;
	transition: all 300ms ease 100ms;
	display: block
}

.products li a img {
	max-width: 120px;
	max-height: 120px;
	margin: 5px auto 10px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 10px
}

.products li a h4 {
	color: #009999;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition: all 300ms ease 100ms;
	-moz-transition: all 300ms ease 100ms;
	transition: all 300ms ease 100ms;
	display: table-cell;
	line-height: inherit
}

.products li a h5 {
	color: #888;
	padding-left: 8px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: line-through;
	line-height: 18px;
	display: table-cell
}

.products li .textkm {
	display: table-row;
	vertical-align: bottom;
	font-size: 11px;
	color: #999;
	height: 10px;
	line-height: 10px
}

.products li .textkm strong {
	margin-right: 5px;
	color: red;
	font-weight: 700
}

.products li .banonline {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
	color: #0876e6;
	display: table-row
}

.products li .giaohang2-7 {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
	color: #0876e6;
	display: table-row
}

.products li .ngung-kd {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
	color: #b00;
	display: table-row
}

.products li .uudailon {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
	color: #0876e6;
	display: table-row
}

.products li .dattruoc {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
	color: #0876e6;
	display: table-row
}

.products li.double-col .uudailon {
	position: absolute;
	right: 5px;
	bottom: 0
}

.products li .tagmoi {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
	background: #006dbb;
	border-radius: 3px;
	padding: 0 5px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: 13px;
	font-weight: 700;
	height: 20px;
	line-height: 20px
}

.products li .tagkmlon {
	background: #ff8a00
}

.products li .taguudailon {
	background: #06b70f
}

.products li .taggiasoc {
	background: #b00
}

.products li .tagdattruoc {
	background: #06b70f
}

.products li .tagimg {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 61px;
	height: 58px
}

.products li .tagimg.hot {
	background: url(../images/icon-hot.png) no-repeat
}

.products li .tagimg.downprice {
	background: url(../images/icon-downprice.png) no-repeat
}

.products li .btncompare {
	display: block;
	cursor: pointer;
	background: #8e8e8e;
	font-size: 12px;
	color: #fff;
	text-align: center;
	width: 115px;
	height: 17px;
	padding-bottom: 3px;
	position: absolute;
	bottom: 85px;
	left: 24%;
	z-index: 100;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-ms-opacity: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0)
}

.products li:hover .btncompare {
	-ms-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	-khtml-opacity: 1
}

.products li .btncompare2 {
	bottom: 60px
}

.products li .info {
	display: block;
	overflow: hidden;
	-ms-opacity: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0);
	height: 120px;
	width: 91%;
	padding: 10px;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
        border-color: #1F6B75;
}

.products li:hover .info {
	background: rgba(0, 0, 0, .85);
	-ms-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	-khtml-opacity: 1
}

.products li .info span {
	color: #fff;
	display: block;
	padding: 2px 6px
}

@media screen and (max-width:1160px) {
	.products {
		min-width: 904px
	}
	.products.homepage {
		min-width: 604px
	}
	.products li {
		width: 179px
	}
	.products li .btncompare {
		left: 17.5%;
		bottom: 92px
	}
	.products li .btncompare2 {
		bottom: 60px
	}
	.products li a img {
		margin-bottom: 0
	}
	.products li .banonline {
		line-height: 12px
	}
	.products li .giaohang2-7 {
		line-height: 12px
	}
	.products li .ngung-kd {
		line-height: 12px
	}
	.products li .uudailon {
		line-height: 12px
	}
	.products li .dattruoc {
		line-height: 12px
	}
	.products li .info {
		height: 128px;
		padding: 2px;
		width: 98%
	}
}

html,body,p,a,font,ol,ul,li,form,label,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}

#site-wrapper {
	line-height: 1;
	color: #000;
	background: #fff;
	width: 802px;
	color: #333;
	font-size: 14px;
	font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	line-height: 18px;

}

:focus {
	outline: 0;
	outline-width: 0
}

ol,ul {
	list-style: none
}

a img {
	border: none
}


a {
	color:006064;
	text-decoration: none
}

a:hover {
	color: #069;
	border-bottom: 1px dotted #91b369
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-weight: normal;
	margin: 0;
	margin-bottom: 18px;
	text-rendering: optimizelegibility
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover
	{
	border-bottom: none;
	text-decoration: none
}

h1 {
	font-size: 45px;
	line-height: 54px
}

h2 {
	font-size: 36px;
	line-height: 45px
}

h3 {
	font-size: 27px;
	line-height: 36px
}

h4 {
	font-size: 18px;
	height: auto;
	line-height: 27px
}

h5 {
	font-size: 16px;
	line-height: 27px
}

h6 {
	font-size: 14px;
	line-height: 18px
}

ul,ol,p,blockquote {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 18px
}

ul,ol {
	margin-left: 27px
}

ul {
	list-style: square
}

ol {
	list-style: decimal
}

ul li,ol li {
	margin-bottom: 9px;
	font-size: 13px
}


p a {
	font-size: 13px
}

ul li ol,ul li ul,ol li ol,ol li ul {
	margin: 9px 27px 0
}

ul li ul,ol li ul {
	list-style-type: disc
}

ul,ol {
	
}

ul.paragraph li,ol.paragraph li,ul li p,ol li p {
	margin-bottom: 18px
}

p {
	text-indent: 0;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word
}

strong {
	font-weight: bold
}

